
/*@tailwind base;*/

/**
 * Custom base styles
 */

* {
    /* Text rendering */
    text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

* :focus {
     outline: none !important;
}

html {
    font-size: 62.5%;
    font-family: 'Inter var', Roboto, Helvetica Neue, Arial, sans-serif;
    background-color: #121212;
}

body {
    font-size: 14px;
    line-height: 1.4;
    overflow-x: hidden;
    font-feature-settings: "salt";
}

html, body {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

html, body {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    min-height: 100%;
    width: 100%;
    flex: 1 1 auto;
}

#root {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

h1, .h1 {
    font-size: 24px;
}

h2, .h2 {
    font-size: 20px;
}

h3, .h3 {
    font-size: 16px;
}

h4, .h4 {
    font-size: 15px;
}

h5, .h5 {
    font-size: 13px;
}

h6, .h6 {
    font-size: 12px;
}

.ps > .ps__rail-y,
.ps > .ps__rail-x {
    z-index: 99;
}

a[role=button] {
    text-decoration: none;
}

[role="tooltip"] {
    z-index: 9999;
}

.MuiModal-root {
    /*z-index: 9999;*/
}

/* Medium Devices, Desktops Only */
@media only screen and (min-width: 992px) {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: rgba(0, 0, 0, 0);
    }

    ::-webkit-scrollbar:hover {
        width: 8px;
        height: 8px;
        background-color: rgba(0, 0, 0, 0.06);
    }

    ::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        border-radius: 20px;
    }

    ::-webkit-scrollbar-thumb:active {
        border-radius: 20px;
    }
}

form label {
    z-index: 99;
}

body.no-animate *,
body.no-animate *::before,
body.no-animate *::after {
    transition: none !important;
    animation: none !important;
}

button:focus {
    outline: none;
}

/* Removes webkit's autofill backgorund color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
    transitionDelay: 9999s;
    transitionProperty: background-color, color;
}

:focus {
    outline-color: transparent;
}

/*fullcalendar Fix*/
.fc-scrollgrid-section-liquid {
    height: 1px !important;
}
.muiltr-1eged98-MuiButtonBase-root-MuiButton-root.Mui-disabled{
    background-color: #B3B3B3 !important;
}
.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar{
    display: none;
}
.active{
    background: #0B4A80;
        color: white;
}
.active:hover, .muiltr-370b5p-MuiButtonBase-root-MuiButton-root:hover{
    background: #5480A6;
        color: white;
}
.rs-picker-daterange-menu{
    z-index: 10 !important;
    @media screen and (max-width: 768px) 
    {

        /* top: 50% !important; */
        left: 50% !important; 
        transform: translate(-50%, -50%) !important;
    }
}
.rs-picker-toolbar-ranges{
    display: none !important;
}
.mobile .rs-picker-toggle{
display: none !important;
} 

.muiltr-1c32n2y-MuiBadge-root{
    display: inline-block !important;
}
.MuiTablePagination-displayedRows{
    display: none !important;
}
.MuiTablePagination-toolbar{
    padding-left: 0 !important;
}
.muiltr-1u155r9-MuiTableCell-root{
    padding: 6px !important;
}
.MuiBadge-badge{
    position: relative !important;
transform: scale(1) translate(2%, -55%) !important;
}
.status .MuiBadge-badge{
    position: relative !important;
transform: scale(1) translate(2%, -0%) !important;
}
.muiltr-9r3zz9-MuiTableCell-root{
    padding-left: .725rem !important;
}
.glosa .muiltr-j901z8-MuiInputBase-root-MuiOutlinedInput-root.Mui-disabled .MuiOutlinedInput-notchedOutline , .glosa .muiltr-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color: red !important ;
}
.glosa .muiltr-1lkc2b2-MuiFormLabel-root-MuiInputLabel-root{
    color: red !important;
}
.MuiDataGrid-root .MuiTablePagination-root{
display: none !important;
}
.authCell{
    overflow: visible !important;
    white-space: pre-wrap !important;
}
.MuiDataGrid-menuIcon{
    width: auto !important;
    visibility: visible !important;
}
.noWrapName{
    overflow: auto !important;
    white-space: pre-wrap !important;
}